go 1.24.0

use (
	./prod/api-function/api_images/upload
	./prod/api-function/api_images/upload-render-json
	./prod/workflow-function/ExecuteTurn1Combined
	./prod/workflow-function/ExecuteTurn2Combined
	./prod/workflow-function/FetchHistoricalVerification
	./prod/workflow-function/FetchImages
	./prod/workflow-function/FinalizeAndStoreResults
	./prod/workflow-function/Initialize
	./prod/workflow-function/PrepareSystemPrompt

	./prod/workflow-function/shared/bedrock
	./prod/workflow-function/shared/errors
	./prod/workflow-function/shared/logger
	./prod/workflow-function/shared/schema
	./prod/workflow-function/shared/templateloader

)
